 #leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 15px 15px 15px 0; /* Отступы вокруг картинки */
   }
   #footer {
    left: 0; bottom: 0; /* Левый нижний угол */
    background: #8673A1; /* Цвет фона */
    color: #FFAE42; /* Цвет текста */
    width: 100%;    /* Ширина слоя */
    display: flex;
   }

#s1
{
    width:100%;
    background-color:#8673A1;
    background-image:url(https://www.tokkoro.com/picsup/1147798-triangle.jpg);
    height:400px;
            font-family: Pompadur, 'French Script MT';
    color:#997A8D;
font-size: 100px;
}
   #t
   {
       background:#230D21;
       width:900;
   }
      .t1
   {
       background:#425E17;
   }

#s2
{
    width:100%;
    background-color:#FFAE42;

    height:250px;
}
#s3

{
    font-family: Pompadur, 'Segoe Script';
    color: #FFFFFF;
     background-image:url(https://www.tokkoro.com/picsup/1147800-triangle.jpg);
    height:750px;
    width:100%;
}
.s4
{
        font-family: Pompadur, 'French Script MT';
    color:#000000;
    text-align:center;
font-size: 150px;
}
.s5
{
     font-family: Pompadur, 'Segoe Print';
    color: #6E5160;
    text-align:center;
    font-size: 40px;
}
.s7
{
    color: #6E5160;
    font-size: 30px;
}
.s6
{
      background-image:url(https://www.rekada.ru/uploads/pages/mc614.jpg);
}
#footer {
    background: #8A7F8E; /* Цвет фона */
    color: #FFAE42; /* Цвет текста */
    width: 100%;    /* Ширина слоя */
   }
@media (orientation: landscape )
{
#s1
{
    width:100%;
    background-color:#1B1116;
    height:250px;
}
#s2
{
    width:100%;
    background-color:#FFAE42;

    height:40px;
}
#s3

{
    font-family: Pompadur, 'Segoe Script';
    color: #FFFFFF;
    background-image:url(https://www.tokkoro.com/picsup/1147800-triangle.jpg);
    height:450px;
    width:100%;
}

}



 h1 {
    font-family: Pompadur, 'French Script MT';
    color:#997A8D;
font-size: 500px;
   }
 
    html {background-color:#7F7679;
    height: 100%; /* Высота страницы */     
   }
   body {
      width:100%;
       background:#FFFFFF;
    background-position: top left ; /* Положение фона */

   
   }

